In [2]:
#importing required librarys
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
#reading the data

data = pd.read_csv("D:\Projects\human disease prediction\data\Disease_symptom_and_patient_profile_dataset.csv")
data

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
...,...,...,...,...,...,...,...,...,...,...
344,Stroke,Yes,No,Yes,No,80,Female,High,High,Positive
345,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
346,Stroke,Yes,No,Yes,No,85,Male,High,High,Positive
347,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive
348,Stroke,Yes,No,Yes,No,90,Female,High,High,Positive

In [4]:
data.shape

print(f"in this dataset {data.shape[0]} rows and {data.shape[1]} columns")

in this dataset 349 rows and 10 columns

In [5]:
data.isnull().sum()

Disease                 0
Fever                   0
Cough                   0
Fatigue                 0
Difficulty Breathing    0
Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Outcome Variable        0
dtype: int64

In [6]:
data["Gender"].value_counts()

Gender
Female    176
Male      173
Name: count, dtype: int64

In [7]:
data["Age"].value_counts()

Age
45    42
35    42
50    34
40    31
55    30
60    30
30    28
65    23
42    16
70    16
38    14
29    11
25     7
31     4
48     3
52     3
28     3
85     2
80     2
90     2
57     1
56     1
43     1
39     1
32     1
19     1
Name: count, dtype: int64